.DS_Store
.idea
*.log
tmp/
*~
.vscode

target

bloock-bridge/build/wasm
bloock-bridge/build/native
bloock-libs/**/pkg

*.class

languages/python/bloock/_ffi/native
languages/python/.eggs
languages/python/dist
languages/python/.mypy_cache/
languages/python/build
languages/python/venv
languages/python/*.egg-info/
languages/python/_bloock_bridge_lib.abi3.so
__pycache__/

languages/go/vendor
languages/go/internal/ffi/native

languages/js/node_modules
languages/js/dist
languages/js/src/ffi/native/bloock_bridge_bg.wasm
languages/js/src/ffi/native/bloock_bridge_bg.wasm.d.ts
languages/js/src/ffi/native/bloock_bridge.d.ts
languages/js/src/ffi/native/bloock_bridge.js

*.a
*.d
*.so
*.dylib
